@import 'https://cdn.jsdelivr.net/npm/water.css@2/out/water.css';

html {
  max-width: 38rem;
  padding: 1rem;
  margin: auto;
  line-height: 1.5rem;
  font-size: 24px;
  height: 100%;
  overflow: hidden;
  background-color: #202b38 !important;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #202b38 !important;
}

h1 {
  flex: 0 0 10%;
  font-size: 5vmin;
  margin-top: 0rem;
  text-transform: uppercase;
}
#spawnForm {
  margin: 1rem 0;
  font-size: 2.5vmin;
}

#weatherForm {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  font-size: 1.5vmin;
}

#weatherReading {
  flex: 1 0 80%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

footer {
  flex: 0 0 15%;
  width: 100%;
  font-size: 1.3vmin;
  margin: 0 !important;
  text-align: center;
}

#currentWeatherDiv {
  text-align: center;
  text-transform: capitalize;
}
#currentCity {
  font-size: 3.5vmin;
  margin-bottom: 0rem;
}

#weatherIcon::selection {
  background: none !important;
}

#currentWeatherDesc,
#errorCode {
  color: #fff;
  font-size: 4vmin;
  font-weight: bold;
  margin-top: 0rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}
#currentWeatherValues,
#errorMsg {
  color: #fff;
  font-size: 2vmin;
  text-transform: capitalize;
}

#weatherIcon,
#loadingIcon,
#errorIcon {
  padding: 1rem;
  width: 25vmin;
  height: auto;
}

#loadingIcon {
  animation: rotate 2s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

input:invalid {
  border: 2px solid red;
}
